channels==4.3.2
channels_redis==4.3.0
daphne==4.2.2
Django~=5.0.0
django-cors-headers==4.9.0
django-filter
djangorestframework
djangorestframework_simplejwt
google-generativeai==0.8.6
psycopg[binary]
python-decouple==3.8
redis==8.0.1
scikit-learn
openai~=1.58.0
whitenoise
pymupdf
python-pptx
dj-database-url
uvicorn[standard]
